<section>   
    <h4  class="alert alert-info" role="alert"> Candidate Form </h4>
    <form name='candidateform' class="candidateform" novalidate>
        <div  class="alert alert-info" role="alert" ></div>
        <table class="table">
                <tbody>
                    <tr>
                        <td>Candidate Name*</td>
                        <td>                            
                                <input type="text" name="name" class="form-control" ng-model='candidate.name' ng-required="true" pattern="^[a-zA-Z\s]+$">
                                <span style="color:red" ng-show = "candidateform.name.$touched && candidateform.name.$invalid">Enter valid Name</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Experience in Years*</td>
                        <td>
                                <input type="number" name="xp" class="form-control" ng-model='candidate.experience' ng-required="true">
                                <span style="color:red" ng-show = "candidateform.xp.$touched && candidateform.xp.$invalid">Enter valid Experience</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Preferred Job loacation</td>
                        <td>
                            <select class="form-control" name="loc" ng-model="candidate.jobLocation" ng-required="true">
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Delhi">Delhi</option>
                            </select>
                            <span style="color:red" ng-show = "candidateform.loc.$touched && candidateform.loc.$invalid">Select location</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Date when the candidate can join</td>
                        <td>
                            <input type="date" name="date" class="form-control" ng-model='candidate.joinDate'  ng-required="true">
                            <span style="color:red" ng-show = "candidateform.date.$touched && candidateform.date.$invalid">Enter Date</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Skills</td>
                        <td><input type="checkbox" ng-model="candidate.skills.java"> <span> Java</span><br> 
                            <input type="checkbox" ng-model="candidate.skills.python"> <span> Python</span><br> 
                            <input type="checkbox" ng-model="candidate.skills.html"> <span> HTML</span><br> 
                            <input type="checkbox" ng-model="candidate.skills.css"> <span> CSS</span><br> 
                            <input type="checkbox" ng-model="candidate.skills.javascript"> <span> Javascript </span> 
                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>       
                            <input type="radio" name="gender" ng-model="candidate.gender" value="Male" > Male<br>
                            <input type="radio" name="gender" ng-model="candidate.gender" value="Female"> Female<br>
                            <input type="radio" name="gender" ng-model="candidate.gender" value="Other"> Other                                      
                        </td>
                    </tr>
                </tbody>
        </table>
    </form>
    <section class="action-btns">
            <input type="reset" class="btn btn-default" ng-click="resetForm()">
            <input type="submit" class="btn btn-success"
            ng-disabled="candidateform.name.$untouched || candidateform.xp.$untouched || 
            candidateform.loc.$untouched ||candidateform.name.$touched && myForm.name.$invalid ||
            candidateform.xp.$touched && candidateform.xp.$invalid ||
            candidateform.loc.$touched && candidateform.loc.$invalid||
            candidateform.date.$touched && candidateform.date.$invalid" ng-click="addCandidate()">
    </section>
</section>